main{
    padding: 10px;
    margin: 0 auto;
}
/* Style the header element */

header {
 
    background-color: #333; /* Change the background color to your preference */
    color: #fff; /* Change the text color to your preference */
    padding: 20px; /* Add padding to create space around the content */
    text-align:left; /* Center-align the content */
    margin-bottom: 50px;
  }
  nav{
    display: inline;
    float: right;
  }
  /* Style the logo link */
  .logo {
  
    text-decoration: none; /* Remove underlines from the link */
    font-size: 24px; /* Set the font size to your preference */
    font-weight: bold; /* Make the text bold */
    color: #fff; /* Change the text color to your preference */
  }
  
  /* Style the navigation links */
  nav a {
    text-decoration: none; /* Remove underlines from the links */
    color: #fff; /* Change the text color to your preference */
    margin: 0 10px; /* Add margin to separate the links */
    font-weight: bold; /* Make the text bold */
  }
  
  /* Style the login link */
  .login {
    background-color: #007bff; /* Change the background color to your preference */
    padding: 5px 10px; /* Add padding to create a button-like appearance */
    border-radius: 5px; /* Add rounded corners to the button */
  }
  
  /* Style the logout link */
  .logout {
    background-color: #dc3545; /* Change the background color to your preference */
    padding: 5px 10px; /* Add padding to create a button-like appearance */
    border-radius: 5px; /* Add rounded corners to the button */
  }
  

  .entries {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    
  }
  
  .entry {
    text-align: center; /* Center the content within each entry */
    margin-left: 50px;
    margin-right: 50px;
  }
  
  /* Style for the image in each entry */
  .image-s {
    width: 300px;
    display: inline;
    float: left;
    margin-bottom: 10px;

    height: auto; /* Maintain aspect ratio */
  }
  